/* css variables */

:root {
	--primary: #ddd;
	--dark: #333;
	--light: #fff;
	--shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	color: var(--dark);
}

body {
	background: #ccc;
	margin: 30px 50px;
	line-height: 1.4;
}

.btn {
	background-color: var(--dark);
	color: var(--light);
	padding: 0.6rem 1.3rem;
	text-decoration: none;
	border: 0;
}

img {
	max-width: 100%;
}

.wrapper {
	display: grid;
	grid-gap: 20px;
}

/* Navigation */
.main-nav ul {
	display: grid;
	grid-gap: 20px;
	padding: 0;
	list-style: none;
	/* grid-template-columns: 1fr 1fr 1fr 1fr; */
	grid-template-columns: repeat(4, 1fr);
}

.main-nav a {
	background-color: var(--primary);
	display: block;
	text-decoration: none;
	padding: 0.8 rem;
	text-align: center;
	color: var(--dark);
	text-transform: uppercase;
	font-size: 1.1rem;
	box-shadow: var(--shadow);
}

.main-nav a:hover {
	background-color: var(--dark);
	cursor: pointer;
	color: var(--light);
}

/* top container */
.top-container {
	display: grid;
	grid-gap: 20px;
	grid-template-areas:
		"showcase showcase top-box-a"
		"showcase showcase top-box-b";
}

.showcase {
	grid-area: showcase;
	min-height: 400px;
	background: url(./imgaes/showcase.jpeg);
	background-size: cover;
	background-position: center;
	padding: 3rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	box-shadow: var(--shadow);
}

.showcase h1 {
	font-size: 4rem;
	margin-bottom: 0;
	color: aquamarine;
}

.showcase p {
	font-size: 1.3rem;
	margin-top: 0;
	color: aquamarine;
}

.top-box-a {
	grid-area: top-box-a;
}

.top-box-b {
	grid-area: top-box-b;
}

.top-box .price {
	font-size: 2.5rem;
}

.top-box {
	background-color: var(--primary);
	display: grid;
	align-items: center;
	justify-items: center;
	box-shadow: var(--shadow);
	padding: 1.5rem;
}

.boxes {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.box {
	background: var(--primary);
	text-align: center;
	padding: 1rem 2rem;
	box-shadow: var(--shadow);
}

.info {
	background: var(--primary);
	box-shadow: var(--shadow);
	display: grid;
	grid-gap: 30px;
	grid-template-columns: repeat(2, 1fr);
	padding: 3rem;
}

/* Portfolio */

.portfolio {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.portfolio img {
	width: 100%;
	box-shadow: var(--shadow);
}

/* footer */
footer {
	margin-top: 2rem;
	background: var(--dark);
	color: var(--light);
	text-align: center;
	padding: 1rem;
}

/* Media Queries */

/* bis zu einer max-weite von 700 Pixeln */
@media (max-width: 700px) {
	.top-container {
		grid-template-areas:
			"showcase showcase"
			"top-box-a top-box-b";
	}

	.showcase h1 {
		font-size: 2.5rem;
	}

	.main-nav ul {
		grid-template-columns: 1fr;
	}

	.info {
		grid-template-columns: 1fr;
	}

	.info .btn {
		display: block;
		text-align: center;
		margin: auto;
	}
}

@media (max-width: 500px) {
	.top-container {
		grid-template-areas:
			"showcase"
			"showcase"
			"top-box-a"
			"top-box-b";
	}
}
